<div class="create-edit-question">
    <p class="page-title">
        {{ id ? 'Edit question' : 'Add question' }}
    </p>

    <form [formGroup]="questionForm" class="create-edit-question-form" (ngSubmit)="onSubmit()">
        <div class="question-form">
            <app-question-form [questionForm]="questionForm"></app-question-form>
        </div>

        <app-general-errors [form]="questionForm"></app-general-errors>
        <button type="submit" class="create-edit-question-btn">
            <mat-icon class="create-edit-question-btn-icon">
                {{ id ? 'edit' : 'add' }}
            </mat-icon>
            {{ id ? 'Save' : 'Add' }}
        </button>
    </form>

</div>