<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" >
</head>
<body>
    <main>
        <div class="message-container">
            <div class="icon">
                <img src="assets/novalogo.jpg" alt="Icon">
            </div>
            <h1>Thanks for submitting!</h1>
            <p>Your exam has been sent!</p>
            <button (click)="goHome()" class="button">Go Home</button>
        </div>
    </main>
</body>
</html>