<mat-card class="exam-card">
    <mat-card-content>
        <div class="exam-card-content">
            <div class="exam-card-section">
                <div class="status">
                    <mat-icon *ngIf="isCompleted" class="status-completed">check</mat-icon>
                    <mat-spinner *ngIf="!isCompleted" class="status-in-progress"></mat-spinner>
                </div>
            </div>

            <div class="exam-card-section">
                <div class="information">
                    <div class="information-title">Candidate</div>
                    <div class="information-value"><b>Full name:</b> {{ exam.candidate!.name }} {{ exam.candidate!.surname }}</div>
                </div>
            </div>

            <div *ngIf="isCompleted" class="exam-card-section right">
                <div class="score">
                    <div class="score-fraction">{{ exam.score }}</div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>