.timer-container {
  display: block;
  text-align: center;
}

button {
  margin-bottom: 20px; 
}

.timer {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  margin-right: 8px; 
}
