mat-card {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

app-timer {
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
}

.question-text {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigation-buttons button {
  color: #000; 
  background-color: #f1f1f1; 
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #ccc; 
  border-radius: 15px; 
}

.navigation-buttons button:hover {
  background-color: #ddd; 
}

.navigation-buttons button:disabled {
  color: #ccc; 
  background-color: #e0e0e0;
  cursor: not-allowed; 
}

button {
  font-size: 14px;
  padding: 10px 20px;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button button {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 150px;
}

.submit-button button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

mat-progress-spinner {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 18px;
  color: #555;
}