<div class="answers" [ngSwitch]="questionType">
  <div *ngSwitchCase="0">
    <mat-radio-group name="question{{ questionId }}" aria-label="Select answer" (change)="onAnswerSelected($event.value, true)">
      <mat-radio-button
        *ngFor="let answer of answers"
        [value]="answer.id?.toString()"
        [checked]="isAnswerSelected(answer.id!)">
        {{ answer.text }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngSwitchCase="1">
    <label *ngFor="let answer of answers">
      <mat-checkbox
        [value]="answer.id?.toString()"
        [checked]="isAnswerSelected(answer.id!)"
        (change)="onAnswerSelected(answer.id!, false)">
        {{ answer.text }}
      </mat-checkbox>
    </label>
  </div>

  <div *ngSwitchDefault>
    <p>Unknown question type.</p>
  </div>
</div>
