<div class="form-section" [formGroup]="questionForm">
    <div class="form-section-title">Question</div>

    <mat-label class="label-margin-left">Question</mat-label>

    <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <input matInput formControlName="text" placeholder="Enter question text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label class="no-margin">Category</mat-label>
        <mat-select formControlName="category" placeholder="- Select a category -">
            <mat-option *ngFor="let category of categoryKeys" [value]="getCategoryValue(category)">
                {{ category }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" placeholder="- Select a type -">
            <mat-option *ngFor="let type of typeKeys; let i = index" [value]="getTypeValue(type)">
                {{ type }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="answers-form">
    <app-answers-form [answersForm]="answers"></app-answers-form>
</div>